html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.header-container .logo {
  height: 8em;
  width: 8em;
}

.header-container .nav-container {
  height: 100%;
  width: 100%;
}

.header-container .nav-container .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style-type: none;
}

.header-container .nav-container .nav-items a {
  text-decoration: none;
  color: #333333;
}

.header-container .nav-container .nav-items a:hover {
  border-bottom: 2px solid #fb085f;
}

.header-container .nav-container .nav-items .nav-item {
  padding: 20px;
}

.header-container .nav-container .nav-items .nav-item div {
  padding: 20px 20px 20px 20px;
}

.header-container .nav-container .nav-items .nav-item-dropdown {
  padding: 20px;
}

.header-container .nav-container .nav-items .nav-item-dropdown .nav-dropdown-1 {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: black;
  padding: 0px;
  list-style-type: none;
}

.header-container .nav-container .nav-items .nav-item-dropdown .nav-dropdown-1 li {
  padding: 20px 20px 20px 20px;
}

.header-container .nav-container .nav-items .nav-item-dropdown .nav-dropdown-1 li:hover {
  background-color: #fb085f;
}

.header-container .nav-container .nav-items .nav-item-dropdown:hover .nav-dropdown-1 {
  display: block;
}

.header-container .nav-container .nav-items .nav-item-dropdown:hover .nav-dropdown-1 a {
  color: white;
  text-decoration: none;
}

.header-container .nav-container .nav-items .nav-item-dropdown .nav-dropdown-2 {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: black;
  padding: 0px;
  list-style-type: none;
}

.header-container .nav-container .nav-items .nav-item-dropdown .nav-dropdown-2 li {
  padding: 20px 20px 20px 20px;
}

.header-container .nav-container .nav-items .nav-item-dropdown .nav-dropdown-2 li:hover {
  background-color: #fb085f;
}

.header-container .nav-container .nav-items .nav-item-dropdown:hover .nav-dropdown-2 {
  display: block;
}

.header-container .nav-container .nav-items .nav-item-dropdown:hover .nav-dropdown-2 a {
  color: white;
  text-decoration: none;
}

.hero-contianer {
  width: 100vw;
  position: relative;
}

.hero-contianer .gray-overlay {
  position: absolute;
  background-color: rgba(26, 26, 26, 0.177);
  height: 100%;
  width: 100%;
}

.hero-contianer .hero-title {
  font-size: 4rem;
  position: absolute;
  color: white;
  top: 30%;
  left: 10%;
}

.hero-contianer .hero-video {
  width: 100%;
  height: 100%;
}

.section-bg-1 {
  background-color: #fdf1f1ee;
  padding: 70px 0px 70px 0px;
}

.section-bg-1 .content-container-1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-1 .content-container-1 .hr-line {
  border: 1px solid #fb085f;
  width: 50%;
}

.section-bg-1 .content-container-1 .content-title {
  font-size: 3.5em;
  color: #333333;
}

.section-bg-1 .content-container-1 .content-subtitle {
  font-size: 1.3em;
  color: #2f2f2f;
}

.section-bg-1 .content-container-1 .content-paragraph {
  width: 60%;
  font-size: 1.2em;
  color: #2f2f2f;
}

.section-bg-2 {
  padding: 70px 0px 70px 0px;
}

.section-bg-2 .content-container-2 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-2 .content-container-2 .hr-line {
  border: 1px solid #fb085f;
  width: 50%;
}

.section-bg-2 .content-container-2 h2 {
  font-size: 3.5em;
  color: #333333;
}

.section-bg-2 .content-container-2 .content-list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.section-bg-2 .content-container-2 .content-list-2 li {
  text-align: center;
  width: 70%;
  padding: 20px;
}

.section-bg-2 .content-container-2 .content-list-2 li .fa-dumbbell,
.section-bg-2 .content-container-2 .content-list-2 li .fa-heart-pulse,
.section-bg-2 .content-container-2 .content-list-2 li .fa-apple-whole {
  color: #fb085f;
  font-size: 3.8em;
}

.section-bg-2 .content-container-2 .content-list-2 li p {
  height: 10em;
}

.section-bg-2 .content-container-2 .content-list-2 li h3 {
  font-size: 2.5em;
  color: #333333;
}

.section-bg-3 {
  padding: 70px 0px 70px 0px;
}

.section-bg-3 .section-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-3 .section-container-3 .hr-line {
  border: 1px solid #fb085f;
  width: 50%;
}

.section-bg-3 .section-container-3 h2 {
  font-size: 3.5em;
  color: #333333;
}

.section-bg-3 .section-container-3 p {
  width: 60%;
  font-size: 1.2em;
  color: #2f2f2f;
}

.section-bg-4 {
  padding: 70px 0px 70px 0px;
}

.section-bg-4 .section-container-4 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-4 .section-container-4 .hr-line {
  border: 1px solid #fb085f;
  width: 50%;
}

.section-bg-4 .section-container-4 h2 {
  font-size: 3.5em;
  color: #333333;
}

.section-bg-4 .section-container-4 p {
  width: 60%;
  font-size: 1.2em;
  color: #2f2f2f;
}

.section-bg-5 {
  background-color: #fdf1f1ee;
  padding: 70px 0px 70px 0px;
}

.section-bg-5 .section-container-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-5 .section-container-5 .hr-line {
  border: 1px solid #fb085f;
  width: 50%;
}

.section-bg-5 .section-container-5 h2 {
  font-size: 3.5em;
  color: #333333;
}

.section-bg-5 .section-container-5 p {
  width: 60%;
  font-size: 1.2em;
  color: #2f2f2f;
}

.slider-outter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  background-color: #2f2f2f;
  height: 40vh;
  width: 100%;
}

.slider-outter-container .slider-inner-container {
  text-align: center;
  color: white;
}

.slider-outter-container .slider-inner-container div {
  font-style: italic;
  color: #fb085f;
  font-size: 1.8em;
}

.slider-outter-container .slider-inner-container h1 {
  font-size: 3em;
  margin: 0px;
}

.slider-outter-container ul {
  padding: 20px 0px 20px 0px;
  list-style-type: none;
}

.slider-outter-container ul li {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.slider-outter-container ul li p {
  font-size: 1.5em;
  font-style: italic;
}

.slider-outter-container ul li p span {
  font-weight: 800;
  font-size: 1.3em;
}

button {
  background-color: #fb085f;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  color: white;
  padding: 10px 15px 10px 15px;
}

.section-bg-6 {
  padding: 70px 0px 70px 0px;
  background-color: #fdf1f1ee;
}

.section-bg-6 .section-container-6 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-6 .section-container-6 .hr-line {
  border: 1px solid #fb085f;
  width: 50%;
}

.section-bg-6 .section-container-6 h2 {
  font-size: 3.5em;
  color: #333333;
}

.section-bg-6 .section-container-6 p {
  width: 60%;
  font-size: 1.2em;
  color: #2f2f2f;
}

.section-bg-7 {
  padding: 0.3em;
  background-color: #fb085f;
}

.section-bg-7 .section-container-7 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-bg-7 .section-container-7 h1 {
  font-style: normal;
  font-size: 3.7em;
  color: white;
}

.section-bg-8 {
  height: 75vh;
}

.section-bg-8 .section-container-8 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section-footer {
  margin: 50px 0px 50px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
/*# sourceMappingURL=main.css.map */